body{
    font-family: "Currier", sans-serif;
    width: 100%;
    height: auto;
    border: 2px solid red;
    margin: -1px auto;
}

article.main-content{
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid orange;
}

h1{
    color: grey;
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}
img{
    max-width: 100%;
    background-color: transparent;
}
/* ------------------------------------------------
                    parallax
 ------------------------------------------------*/
.bird-box{
    position: relative;
    height: 600px;
    background: #fff url("../_images/winter.jpg") no-repeat fixed center top;
    overflow: hidden;
}
/*
.logo{
    height: 100px;
    width: 100%;
    background: transparent url("../_images/winter-logo.png") no-repeat center;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}*/

#lorem{
    text-align: justify;
}
.fire-bird{
    width: 960px;
    height: 733px;
    background: transparent url("../_images/b.png") no-repeat right bottom;
    position: absolute;
    left: 25%;
    top: -90px;
}
.back-bird{
    width: 960px;
    height: 733px;
    background: transparent url("../_images/BlackBirdLogo-260x260.png") no-repeat left top;
    position: absolute;
    left: 10%;
    margin-left: 80px;
}

.logo{

}